# Эти файлы в истории не нужны:
*.aux
*.out
*.toc
*.log

# Выходной файл тоже.
*.pdf

# Когда-нибудь, возможно, появится предметный или именной
# указатель директив конфигурации.
*.idx
*.ilg
*.ind
*.glo
*.glg
*.gls

# Картинок и таблиц нет и не предвидится, так что...
#*.lot
#*.lof

# И библиографии тоже нет. И вряд ли будет.
#*.bbl
#*.blg

